@CHARSET "UTF-8";

body {
    background-color: #edeacb;
        font-family: antiqua;
    font-size: 24px;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    border-collapse: collapse;
    background: #f4f2df;
    padding: 5px;
}

#login-box {
	width: 300px;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}